body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    /*250px*/left: 25%; 
    /*250px*/width: 25%;
    /*100px*/height: 175%;
    background: #042331;
    transition: all .5s ease;
}

    .sidebar header {
        /*22px*/ font-size: 2.2%;
        color: white;
        text-align: center;
        /*70px*/ line-height: 7%;
        background: #063146;
        user-select: none;
    }

    .sidebar ul a {
        display: block;
        height: 100%;
        width: 100%;
        /*65px*/line-height: 6.5%;
        /*20px*/font-size: 2%;
        color: white;
        /*40px*/padding-left: 4%;
        box-sizing: border-box;
        border-top: 1px solid rgba(255,255,255,.1);
        border-bottom: 1px solid black;
        transition: .4s;
    }

ul li:hover a {
    /*50px*/padding-left: 5%;
}

.sidebar ul a i {
    /*16px*/margin-right: 1.6%;
}

#check {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    cursor: pointer;
    background: #808080;
    /*3px*/border-radius: 0.3%;
}

label #btn {
    /*40px*/ left: 4%;
    /*25px*/ top: 2.5%;
    /*35px*/ font-size: 3.5%;
    color: white;
    /*3px 6px*/ padding: 0.3% 0.6%;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    /*-195px*/ left: -19.5%;
    /*17px*/ top: 1.7%;
    /*30px*/ font-size: 3%;
    color: black;
    /*2px 6px*/padding: 0.2% 0.6%;
    transition: all .5s ease;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    /*250px*/ left: 25%;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    /*195px*/ left: 19.5%;
}

#check:checked ~ section {
    /*250px*/ margin-left: 25%;
}


