
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title class="col-md-2">Movimentar Locação de Impressoras</title>
</head>
<body>
</body>
</html>
