
@{
    ViewData["Title"] = "Controlar";
}

<h1>Controlar</h1>

<!-- Link para redirecionar -->
<!-- <li><a href="/Cartucho/Cadastrar"><i class="form-check"></i> Linkzinho marotão do cachorrão</a></li> -->
