@{
    ViewData["Title"] = "Controlar";
}

<h1>Controlar</h1>
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>Impressora Express</title>
    <link rel="Sidebar.css" href="css." />

</head>
<body>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
        <i class="fas fa-bars" id="btn"></i>
    </label>
    <div class="sidebar">
        <header>Express</header>
        <ul>

            <li><a href="#"><i class="fas fa-user"></i>Usuário</a></li>
            <li><a href="#"><i class="fas fa-broom"></i>Cartuchos</a></li>
            <li><a href="#"><i class="fas fa-archive"></i>Impressoras</a></li>
            <li><a href="#"><i class="fas fa-shopping-cart"></i>Locações</a></li>
            <li><a href="#"><i class="fas fa-phone"></i>Contato</a></li>
        </ul>




    </div>
    <section></section>

</body>
</html>

<!-- Link para redirecionar -->
<!-- <li><a href="/Cartucho/Cadastrar"><i class="form-check"></i> Linkzinho marotão do cachorrão</a></li> -->