
@{
    ViewData["Title"] = "Cadastrar";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar Cartucho</title>


</head>
<body>




    <div>
        @{
            List<Common.Error> errors = new List<Common.Error>();
            if (ViewBag.Errors != null)
            {
                errors = ViewBag.Errors;
            }
        }
        <form method="post">
            <div class="form-group">
                <label class="control-label col-md-2">Nome Modelo</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" name="NomeModelo" id="NomeModelo" />
                    <span class="text-danger" id="erroNomeModelo" name="erroNomeModelo">
                        @{
                            Common.Error erro = errors.FirstOrDefault(c => c.FieldName == "NomeModelo");
                            if (erro != null)
                            {
                                <text>@erro.Message</text>
                            }
                        }
                    </span>
                </div>
            </div>

            @{
                string[] cor = Enum.GetNames(typeof(DTO.Enum.Cor));
            }



            <div class="form-group">
                <label class="control-label col-md-2">Cor</label>
                <div class="col-md-10">
                    <select class="form-control" name="Cor" id="Cor">
                        @for (int i = 0; i < cor.Length; i++)
                        {
                            <option value="@i">@cor[i]</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Valor de Unidade</label>
                <div class="col-md-10">
                    <input class="money" type="text" name="ValorUnitario" id="ValorUnidade" />
                    <span class="text-danger" id="erroValorUnidade" name="erroValorUnidade">
                        @{
                            erro = errors.FirstOrDefault(c => c.FieldName == "ValorUnidade");
                            if (erro != null)
                            {
                                <text>@erro.Message</text>
                            }
                        }
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input name="BotaoEnviar" id="BotaoEnviar" type="submit" value="Cadastrar" />
                </div>
            </div>

        </form>
    </div>
</body>


</html>

@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('.money').mask("#,##0,00", { reverse: true });

            $("#BotaoEnviar").click(function (e) {



                var nomeModelo = $("#NomeModelo").val();
                var valorUnidade = $("#ValorUnidade").val();

                var sucesso = true;

                if (nomeModelo == "") {
                    $("#erroNomeModelo").html("Nome do modelo deve ser informado.");
                    sucesso = false;
                }
                else if (nome.length < 5 || nome.length > 40) {
                    $("#erroNomeModelo").html("Nome do modelo deve conter entre 5 e 40 caracteres.");
                    sucesso = false;
                }
                else {
                    $("#erroNomeModelo").html("");
                }

                if (valorUnidade == "") {
                    $("#erroValorUnidade").html("Valor da unidade deve ser informada.");
                    sucesso = false;
                }
                else if (valorUnidade < 30) {
                    $("#erroValorUnidade").html("Valor da unidade não pode ser menor que R$30,00");
                    sucesso = false;
                }
                else {
                    $("#erroValorUnidade").html("");
                }

                if (!sucesso) {
                    e.preventDefault();
                }


            });

        });
    </script>

}