@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo!</h1>
    <img runat="server" alt="" src="~/images/icons/fotoImpressora.png" height="745"/>
</div>